In [2]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
# will be using this library for text vectorization
from nltk.stem.porter import PorterStemmer
# will be using this library for stemming if you don't already have it installed you will have to install this library
import os

In [3]:
os.chdir('J:\\Training program\\Datasets\\Project movies recommender') # used the dataset provided by your end
# use your own directory where the dataset is their

In [4]:
df  = pd.read_csv('movies.csv')
df.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [5]:
df['original_language'].value_counts()

en    4505
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
cn      12
ru      11
ko      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
ta       2
cs       2
ro       2
id       2
ar       2
vi       1
sl       1
ps       1
no       1
ky       1
hu       1
pl       1
af       1
nb       1
tr       1
is       1
xx       1
te       1
el       1
Name: original_language, dtype: int64

In [6]:
print(df.shape)
print('########')
print(df.info())
print('########')
print(df.isnull().sum())
print('########')
print(df.duplicated().sum())

(4803, 24)
########
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 4803 non-null   int64
 1   budget                4803 non-null   int64
 2   genres                4775 non-null   object
 3   homepage              1712 non-null   object
 4   id                    4803 non-null   int64
 5   keywords              4391 non-null   object
 6   original_language     4803 non-null   object
 7   original_title        4803 non-null   object
 8   overview              4800 non-null   object
 9   popularity            4803 non-null   float64
 10  production_companies  4803 non-null   object
 11  production_countries  4803 non-null   object
 12  release_date          4802 non-null   object
 13  revenue               4803 non-null   int64
 14  runtime               4801 non-null   float64
 15  spoken_languages      4803 non-null   object
 16  status                4803 non-null   object
 17  tagline               3959 non-null   object
 18  title                 4803 non-null   object
 19  vote_average          4803 non-null   float64
 20  vote_count            4803 non-null   int64
 21  cast                  4760 non-null   object
 22  crew                  4803 non-null   object
 23  director              4773 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 900.7+ KB
None
########
index                      0
budget                     0
genres                    28
homepage                3091
id                         0
keywords                 412
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
cast                      43
crew                       0
director                  30
dtype: int64
########
0

In [7]:
selected_features = ['genres', 'id', 'keywords', 'title', 'overview', 'cast', 'director', 'original_language']
# I am keeping id for making the frontend
df = df[selected_features]
df.head()

,genres,id,keywords,title,overview,cast,director,original_language
0,Action Adventure Fantasy Science Fiction,19995,culture clash future space war space colony so...,Avatar,"In the 22nd century, a paraplegic Marine is di...",Sam Worthington Zoe Saldana Sigourney Weaver S...,James Cameron,en
1,Adventure Fantasy Action,285,ocean drug abuse exotic island east india trad...,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",Johnny Depp Orlando Bloom Keira Knightley Stel...,Gore Verbinski,en
2,Action Adventure Crime,206647,spy based on novel secret agent sequel mi6,Spectre,A cryptic message from Bond’s past sends him o...,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,Sam Mendes,en
3,Action Crime Drama Thriller,49026,dc comics crime fighter terrorist secret ident...,The Dark Knight Rises,Following the death of District Attorney Harve...,Christian Bale Michael Caine Gary Oldman Anne ...,Christopher Nolan,en
4,Action Adventure Science Fiction,49529,based on novel mars medallion space travel pri...,John Carter,"John Carter is a war-weary, former military ca...",Taylor Kitsch Lynn Collins Samantha Morton Wil...,Andrew Stanton,en

In [8]:
print(df.shape)
print('########')
print(df.info())
print('########')
print(df.isnull().sum())

(4803, 8)
########
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   genres             4775 non-null   object
 1   id                 4803 non-null   int64
 2   keywords           4391 non-null   object
 3   title              4803 non-null   object
 4   overview           4800 non-null   object
 5   cast               4760 non-null   object
 6   director           4773 non-null   object
 7   original_language  4803 non-null   object
dtypes: int64(1), object(7)
memory usage: 300.3+ KB
None
########
genres                28
id                     0
keywords             412
title                  0
overview               3
cast                  43
director              30
original_language      0
dtype: int64

In [9]:
df.fillna('', inplace=True)
print(df.isnull().sum())
print('*********************')
print(df.info())

genres               0
id                   0
keywords             0
title                0
overview             0
cast                 0
director             0
original_language    0
dtype: int64
*********************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   genres             4803 non-null   object
 1   id                 4803 non-null   int64
 2   keywords           4803 non-null   object
 3   title              4803 non-null   object
 4   overview           4803 non-null   object
 5   cast               4803 non-null   object
 6   director           4803 non-null   object
 7   original_language  4803 non-null   object
dtypes: int64(1), object(7)
memory usage: 300.3+ KB
None

In [10]:
df[['cast']].head()

                                                cast
0  Sam Worthington Zoe Saldana Sigourney Weaver S...
1  Johnny Depp Orlando Bloom Keira Knightley Stel...
2  Daniel Craig Christoph Waltz L\u00e9a Seydoux ...
3  Christian Bale Michael Caine Gary Oldman Anne ...
4  Taylor Kitsch Lynn Collins Samantha Morton Wil...

In [11]:
def cast_selector(cast):
    cast_list = cast.split(' ')
    misc = []
    for i in range(0,10):
        misc.append(str(i))
    y = []
    for i in cast_list:
        if cast_list.index(i)%2 == 0:
            try:
                name = i + cast_list[cast_list.index(i)+1]
                for j in misc:
                    if j in i or j in cast_list[cast_list.index(i)+1]:
                                                break
                    else:
                        y.append(name)
                        break
                
            except:
                break
            
    return y[0:3]
# used to filter and clean cast column

In [12]:
pd.set_option('max_colwidth', 100)
df.cast = df['cast'].apply(cast_selector)

In [13]:
df.cast = df['cast'].apply(lambda x: " ".join(x))

In [14]:
df.head()

,genres,id,keywords,title,overview,cast,director,original_language
0,Action Adventure Fantasy Science Fiction,19995,culture clash future space war space colony society,Avatar,"In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, ...",SamWorthington ZoeSaldana SigourneyWeaver,James Cameron,en
1,Adventure Fantasy Action,285,ocean drug abuse exotic island east india trading company love of one's life,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of t...",JohnnyDepp OrlandoBloom KeiraKnightley,Gore Verbinski,en
2,Action Adventure Crime,206647,spy based on novel secret agent sequel mi6,Spectre,A cryptic message from Bond’s past sends him on a trail to uncover a sinister organization. Whil...,DanielCraig ChristophWaltz RalphFiennes,Sam Mendes,en
3,Action Crime Drama Thriller,49026,dc comics crime fighter terrorist secret identity burglar,The Dark Knight Rises,"Following the death of District Attorney Harvey Dent, Batman assumes responsibility for Dent's c...",ChristianBale MichaelCaine GaryOldman,Christopher Nolan,en
4,Action Adventure Science Fiction,49529,based on novel mars medallion space travel princess,John Carter,"John Carter is a war-weary, former military captain who's inexplicably transported to the myster...",TaylorKitsch LynnCollins SamanthaMorton,Andrew Stanton,en

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   genres             4803 non-null   object
 1   id                 4803 non-null   int64
 2   keywords           4803 non-null   object
 3   title              4803 non-null   object
 4   overview           4803 non-null   object
 5   cast               4803 non-null   object
 6   director           4803 non-null   object
 7   original_language  4803 non-null   object
dtypes: int64(1), object(7)
memory usage: 300.3+ KB

In [16]:
df['tags'] = df['genres']+' '+df['keywords']+' '+df['overview']+' '+df['cast']+' '+df['director']+' '+df['original_language']

In [17]:
ndf = df.drop(columns=['genres', 'keywords', 'overview', 'cast', 'director', 'original_language'])
ndf.head()

,id,title,tags
0,19995,Avatar,Action Adventure Fantasy Science Fiction culture clash future space war space colony society In ...
1,285,Pirates of the Caribbean: At World's End,Adventure Fantasy Action ocean drug abuse exotic island east india trading company love of one's...
2,206647,Spectre,Action Adventure Crime spy based on novel secret agent sequel mi6 A cryptic message from Bond’s ...
3,49026,The Dark Knight Rises,Action Crime Drama Thriller dc comics crime fighter terrorist secret identity burglar Following ...
4,49529,John Carter,Action Adventure Science Fiction based on novel mars medallion space travel princess John Carter...

In [18]:
ps = PorterStemmer()
def stem(tag):
    new_tag = []
    for i in tag.split(' '):
        new_tag.append(ps.stem(i))
    return ' '.join(new_tag)
ndf.tags = ndf['tags'].apply(stem)
# stemming all the tags

In [19]:
ndf.head()

,id,title,tags
0,19995,Avatar,action adventur fantasi scienc fiction cultur clash futur space war space coloni societi in the ...
1,285,Pirates of the Caribbean: At World's End,adventur fantasi action ocean drug abus exot island east india trade compani love of one' life c...
2,206647,Spectre,action adventur crime spi base on novel secret agent sequel mi6 a cryptic messag from bond’ past...
3,49026,The Dark Knight Rises,action crime drama thriller dc comic crime fighter terrorist secret ident burglar follow the dea...
4,49529,John Carter,action adventur scienc fiction base on novel mar medallion space travel princess john carter is ...

In [20]:
cv = CountVectorizer(stop_words='english', max_features=7000)
vtags = cv.fit_transform(df['tags']).toarray()

In [21]:
vtags.shape

(4803, 7000)

In [22]:
ndf.shape

(4803, 3)

In [23]:
from sklearn.metrics.pairwise import cosine_similarity
# to calculate cosine distance and compare

In [24]:
similarity = cosine_similarity(vtags)
similarity

array([[1.        , 0.11595421, 0.08119979, ..., 0.02300219, 0.02519763,
        0.02300219],
       [0.11595421, 1.        , 0.08238526, ..., 0.070014  , 0.0255655 ,
        0.023338  ],
       [0.08119979, 0.08238526, 1.        , ..., 0.04358136, 0.07161149,
        0.02179068],
       ...,
       [0.02300219, 0.070014  , 0.04358136, ..., 1.        , 0.08114408,
        0.05555556],
       [0.02519763, 0.0255655 , 0.07161149, ..., 0.08114408, 1.        ,
        0.06085806],
       [0.02300219, 0.023338  , 0.02179068, ..., 0.05555556, 0.06085806,
        1.        ]])

In [25]:
def recommend(movie):
    index = ndf[ndf['title'] == movie].index[0]
    recommedations = sorted(enumerate(similarity[index]), reverse = True, key=lambda x:x[1])[1:11]
    l = []
    j = 1
    print('Movies recommended for you are: ')
    for i in recommedations:
        print(f"{j}. {ndf.iloc[i[0], 1]}")
        j += 1
recommend('The Lego Movie')

Movies recommended for you are:
1. The Boxtrolls
2. The Simpsons Movie
3. The Adventures of Rocky & Bullwinkle
4. Evan Almighty
5. When Did You Last See Your Father?
6. Super Mario Bros.
7. Percy Jackson: Sea of Monsters
8. The Beastmaster
9. Penguins of Madagascar
10. Foodfight!

In [27]:
# you can recommend using this recommend function and passing the name of movie you like
# for example
# I am recommending 10 movies
recommend('Superman')

Movies recommended for you are:
1. Superman II
2. Superman IV: The Quest for Peace
3. Superman Returns
4. Superman III
5. Man of Steel
6. Batman
7. The League of Extraordinary Gentlemen
8. The Helix... Loaded
9. Suicide Squad
10. Flyboys

In [ ]:
ndf_dict = ndf.to_dict()

In [ ]:
import pickle
# for implementing frontend

In [ ]:
pickle.dump(ndf_dict, open('Movies.pkl', 'wb'))
pickle.dump(similarity, open('similarity.pkl', 'wb'))